<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <a href="{{ linkExternoSmall }}" target="_blank">
        <img
        src="{{ photoSmallCard }}"
          alt=""
        />
      </a>  
    </div>
    
    <div class="small-card__title">
      <h3><a href="#">{{ sCardTitle }}</a></h3>
      <div>
        <p>{{ sCardDescriprition }}</p>
      </div>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr />
  </div>
</div>
